<h1> Welcome to the Registrar </h1>

<p>@Html.ActionLink("Department Listing", "Index", "Departments")</p>
<p>@Html.ActionLink("Class Listing", "Index", "Departments")</p>
<p>@Html.ActionLink("Student Listing", "Index", "Departments")</p>